body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1366px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u38503 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38504_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:648px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38504 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:1366px;
  height:648px;
  display:flex;
}
#u38504 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38504_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38505_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1123px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38505 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:0px;
  width:1123px;
  height:40px;
  display:flex;
}
#u38505 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38505_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u38506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u38506 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:13px;
  width:20px;
  height:15px;
  display:flex;
}
#u38506 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38506_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u38507_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u38507 {
  border-width:0px;
  position:absolute;
  left:1202px;
  top:12px;
  width:129px;
  height:19px;
  display:flex;
  color:#000000;
}
#u38507 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u38507_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u38508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:17px;
}
#u38508 {
  border-width:0px;
  position:absolute;
  left:1286px;
  top:12px;
  width:1px;
  height:16px;
  display:flex;
}
#u38508 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38508_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u38509_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u38509 {
  border-width:0px;
  position:absolute;
  left:1182px;
  top:14px;
  width:14px;
  height:14px;
  display:flex;
}
#u38509 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38509_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u38510 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38511_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u38511 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:4px;
  width:334px;
  height:38px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u38511 .text {
  position:absolute;
  align-self:center;
  padding:16px 0px 16px 32px;
  box-sizing:border-box;
  width:100%;
}
#u38511_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u38512 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38513 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38514 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38515 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38516 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38517 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38518 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38519 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38520 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38521 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:252px;
  height:644px;
}
#u38521_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:644px;
  overflow:scroll;
}
#u38522_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:44px;
  background:inherit;
  background-color:rgba(0, 40, 77, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38522 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:44px;
  display:flex;
}
#u38522 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38522_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38523_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
}
#u38523 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:4px;
  width:181px;
  height:36px;
  display:flex;
}
#u38523 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38523_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38524 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38525_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1077px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u38525 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:454px;
  width:1077px;
  height:66px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u38525 .text {
  position:absolute;
  align-self:center;
  padding:16px 24px 16px 24px;
  box-sizing:border-box;
  width:100%;
}
#u38525_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u38526 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38527_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:37px;
  background:inherit;
  background-color:rgba(217, 0, 27, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  line-height:21px;
}
#u38527 {
  border-width:0px;
  position:absolute;
  left:1232px;
  top:469px;
  width:76px;
  height:37px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  line-height:21px;
}
#u38527 .text {
  position:absolute;
  align-self:center;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u38527_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u38528_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:23px;
  background:inherit;
  background-color:rgba(217, 0, 27, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u38528 {
  border-width:0px;
  position:absolute;
  left:1254px;
  top:477px;
  width:32px;
  height:23px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u38528 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u38528_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38529_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1077px;
  height:393px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 1px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow:0px 1px 4px rgba(0, 0, 0, 0.2);
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u38529 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:61px;
  width:1077px;
  height:393px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u38529 .text {
  position:absolute;
  align-self:center;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u38529_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u38530 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:223px;
  width:769px;
  height:120px;
}
#u38531_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:34px;
}
#u38531 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:34px;
  display:flex;
}
#u38531 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38531_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38532_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:34px;
}
#u38532 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:0px;
  width:109px;
  height:34px;
  display:flex;
}
#u38532 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38532_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38533_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:34px;
}
#u38533 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:0px;
  width:109px;
  height:34px;
  display:flex;
}
#u38533 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38533_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38534_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:34px;
}
#u38534 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:0px;
  width:109px;
  height:34px;
  display:flex;
}
#u38534 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38534_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38535_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:34px;
}
#u38535 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:0px;
  width:109px;
  height:34px;
  display:flex;
}
#u38535 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38535_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38536_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:34px;
}
#u38536 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:0px;
  width:109px;
  height:34px;
  display:flex;
}
#u38536 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38536_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38537_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:34px;
}
#u38537 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:0px;
  width:109px;
  height:34px;
  display:flex;
}
#u38537 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38537_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38538_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:29px;
}
#u38538 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:115px;
  height:29px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u38538 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38538_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38539_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:29px;
}
#u38539 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:34px;
  width:109px;
  height:29px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u38539 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38539_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38540_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:29px;
}
#u38540 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:34px;
  width:109px;
  height:29px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u38540 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38540_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38541_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:29px;
}
#u38541 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:34px;
  width:109px;
  height:29px;
  display:flex;
}
#u38541 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38541_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38542_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:29px;
}
#u38542 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:34px;
  width:109px;
  height:29px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u38542 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38542_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38543_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:29px;
}
#u38543 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:34px;
  width:109px;
  height:29px;
  display:flex;
}
#u38543 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38543_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38544_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:29px;
}
#u38544 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:34px;
  width:109px;
  height:29px;
  display:flex;
}
#u38544 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38544_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38545_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:29px;
}
#u38545 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:63px;
  width:115px;
  height:29px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u38545 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38545_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38546_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:29px;
}
#u38546 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:63px;
  width:109px;
  height:29px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u38546 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38546_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38547_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:29px;
}
#u38547 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:63px;
  width:109px;
  height:29px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u38547 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38547_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38548_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:29px;
}
#u38548 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:63px;
  width:109px;
  height:29px;
  display:flex;
}
#u38548 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38548_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38549_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:29px;
}
#u38549 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:63px;
  width:109px;
  height:29px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u38549 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38549_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38550_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:29px;
}
#u38550 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:63px;
  width:109px;
  height:29px;
  display:flex;
}
#u38550 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38550_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38551_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:29px;
}
#u38551 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:63px;
  width:109px;
  height:29px;
  display:flex;
}
#u38551 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38551_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38552_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:28px;
}
#u38552 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:92px;
  width:115px;
  height:28px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u38552 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38552_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38553_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:28px;
}
#u38553 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:92px;
  width:109px;
  height:28px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u38553 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38553_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38554_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:28px;
}
#u38554 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:92px;
  width:109px;
  height:28px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u38554 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38554_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38555_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:28px;
}
#u38555 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:92px;
  width:109px;
  height:28px;
  display:flex;
}
#u38555 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38555_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38556_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:28px;
}
#u38556 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:92px;
  width:109px;
  height:28px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u38556 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38556_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38557_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:28px;
}
#u38557 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:92px;
  width:109px;
  height:28px;
  display:flex;
}
#u38557 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38557_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38558_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:28px;
}
#u38558 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:92px;
  width:109px;
  height:28px;
  display:flex;
}
#u38558 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38558_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38559_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:34px;
  background:inherit;
  background-color:rgba(235, 235, 235, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u38559 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:182px;
  width:116px;
  height:34px;
  display:flex;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u38559 .text {
  position:absolute;
  align-self:center;
  padding:2px 12px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u38559_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38560_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
}
#u38560 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:182px;
  width:88px;
  height:34px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u38560 .text {
  position:absolute;
  align-self:center;
  padding:5px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u38560_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38561_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:34px;
  background:inherit;
  background-color:rgba(235, 235, 235, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u38561 {
  border-width:0px;
  position:absolute;
  left:704px;
  top:181px;
  width:116px;
  height:34px;
  display:flex;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u38561 .text {
  position:absolute;
  align-self:center;
  padding:2px 12px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u38561_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38562_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:34px;
}
#u38562 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:183px;
  width:85px;
  height:34px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u38562 .text {
  position:absolute;
  align-self:center;
  padding:5px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u38562_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38563_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:34px;
  background:inherit;
  background-color:rgba(235, 235, 235, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u38563 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:180px;
  width:209px;
  height:34px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u38563 .text {
  position:absolute;
  align-self:center;
  padding:2px 12px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u38563_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38564_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:34px;
}
#u38564 {
  border-width:0px;
  position:absolute;
  left:884px;
  top:183px;
  width:81px;
  height:34px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u38564 .text {
  position:absolute;
  align-self:center;
  padding:5px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u38564_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38565_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:34px;
}
#u38565 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:77px;
  width:64px;
  height:34px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u38565 .text {
  position:absolute;
  align-self:center;
  padding:5px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u38565_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38566_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:34px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u38566 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:77px;
  width:210px;
  height:34px;
  display:flex;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u38566 .text {
  position:absolute;
  align-self:center;
  padding:2px 12px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u38566_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38567_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:34px;
}
#u38567 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:77px;
  width:110px;
  height:34px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u38567 .text {
  position:absolute;
  align-self:center;
  padding:5px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u38567_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38568_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:34px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u38568 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:110px;
  width:210px;
  height:34px;
  display:flex;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u38568 .text {
  position:absolute;
  align-self:center;
  padding:2px 12px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u38568_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38569_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:34px;
}
#u38569 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:110px;
  width:81px;
  height:34px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u38569 .text {
  position:absolute;
  align-self:center;
  padding:5px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u38569_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38570_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:34px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u38570 {
  border-width:0px;
  position:absolute;
  left:962px;
  top:146px;
  width:209px;
  height:34px;
  display:flex;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u38570 .text {
  position:absolute;
  align-self:center;
  padding:2px 12px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u38570_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38571_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:34px;
}
#u38571 {
  border-width:0px;
  position:absolute;
  left:884px;
  top:148px;
  width:84px;
  height:34px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u38571 .text {
  position:absolute;
  align-self:center;
  padding:5px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u38571_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38572_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:34px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u38572 {
  border-width:0px;
  position:absolute;
  left:701px;
  top:146px;
  width:210px;
  height:34px;
  display:flex;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u38572 .text {
  position:absolute;
  align-self:center;
  padding:2px 12px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u38572_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38573_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
}
#u38573 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:148px;
  width:88px;
  height:34px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u38573 .text {
  position:absolute;
  align-self:center;
  padding:5px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u38573_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38574_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:34px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u38574 {
  border-width:0px;
  position:absolute;
  left:949px;
  top:77px;
  width:209px;
  height:34px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u38574 .text {
  position:absolute;
  align-self:center;
  padding:2px 12px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u38574_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38575_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:34px;
}
#u38575 {
  border-width:0px;
  position:absolute;
  left:884px;
  top:77px;
  width:81px;
  height:34px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u38575 .text {
  position:absolute;
  align-self:center;
  padding:5px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u38575_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38576_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:34px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:22px;
}
#u38576 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:109px;
  width:210px;
  height:34px;
  display:flex;
  text-align:left;
  line-height:22px;
}
#u38576 .text {
  position:absolute;
  align-self:center;
  padding:2px 12px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u38576_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38577_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:34px;
}
#u38577 {
  border-width:0px;
  position:absolute;
  left:884px;
  top:111px;
  width:81px;
  height:34px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u38577 .text {
  position:absolute;
  align-self:center;
  padding:5px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u38577_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38578_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:34px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u38578 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:108px;
  width:210px;
  height:34px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u38578 .text {
  position:absolute;
  align-self:center;
  padding:2px 12px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u38578_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38579_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:34px;
}
#u38579 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:110px;
  width:81px;
  height:34px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u38579 .text {
  position:absolute;
  align-self:center;
  padding:5px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u38579_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38580_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:34px;
}
#u38580 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:148px;
  width:64px;
  height:34px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u38580 .text {
  position:absolute;
  align-self:center;
  padding:5px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u38580_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38581_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:34px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u38581 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:148px;
  width:210px;
  height:34px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u38581 .text {
  position:absolute;
  align-self:center;
  padding:2px 12px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u38581_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38582_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:34px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u38582 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:74px;
  width:210px;
  height:34px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u38582 .text {
  position:absolute;
  align-self:center;
  padding:2px 12px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u38582_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
