body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1366px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u25158 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:648px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25159 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:1366px;
  height:648px;
  display:flex;
}
#u25159 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25159_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25160_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1123px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25160 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:0px;
  width:1123px;
  height:40px;
  display:flex;
}
#u25160 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25160_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u25161 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:13px;
  width:20px;
  height:15px;
  display:flex;
}
#u25161 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25161_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u25162 {
  border-width:0px;
  position:absolute;
  left:1202px;
  top:12px;
  width:129px;
  height:19px;
  display:flex;
  color:#000000;
}
#u25162 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25162_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:17px;
}
#u25163 {
  border-width:0px;
  position:absolute;
  left:1286px;
  top:12px;
  width:1px;
  height:16px;
  display:flex;
}
#u25163 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25163_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u25164 {
  border-width:0px;
  position:absolute;
  left:1182px;
  top:14px;
  width:14px;
  height:14px;
  display:flex;
}
#u25164 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25164_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25165 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u25166 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:1px;
  width:418px;
  height:38px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u25166 .text {
  position:absolute;
  align-self:center;
  padding:16px 0px 16px 32px;
  box-sizing:border-box;
  width:100%;
}
#u25166_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25167 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25168 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25169 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25170 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25171 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25172 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25173 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25174 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25175 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25176 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:252px;
  height:644px;
}
#u25176_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:644px;
  overflow:scroll;
}
#u25177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:44px;
  background:inherit;
  background-color:rgba(0, 40, 77, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25177 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:44px;
  display:flex;
}
#u25177 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25177_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
}
#u25178 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:4px;
  width:181px;
  height:36px;
  display:flex;
}
#u25178 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25178_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25179 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25180_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:937px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u25180 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:458px;
  width:937px;
  height:66px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u25180 .text {
  position:absolute;
  align-self:center;
  padding:16px 24px 16px 24px;
  box-sizing:border-box;
  width:100%;
}
#u25180_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25181 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:37px;
  background:inherit;
  background-color:rgba(217, 0, 27, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  line-height:21px;
}
#u25182 {
  border-width:0px;
  position:absolute;
  left:1113px;
  top:476px;
  width:76px;
  height:37px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  line-height:21px;
}
#u25182 .text {
  position:absolute;
  align-self:center;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u25182_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:23px;
  background:inherit;
  background-color:rgba(217, 0, 27, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u25183 {
  border-width:0px;
  position:absolute;
  left:1135px;
  top:484px;
  width:32px;
  height:23px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u25183 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25183_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25184 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:13px;
}
#u25185 {
  border-width:0px;
  position:absolute;
  left:1170px;
  top:67px;
  width:16px;
  height:13px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u25185 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25185_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:937px;
  height:402px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 1px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow:0px 1px 4px rgba(0, 0, 0, 0.2);
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u25186 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:56px;
  width:937px;
  height:402px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u25186 .text {
  position:absolute;
  align-self:center;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u25186_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:34px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u25187 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:140px;
  width:210px;
  height:34px;
  display:flex;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u25187 .text {
  position:absolute;
  align-self:center;
  padding:2px 12px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u25187_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
}
#u25188 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:140px;
  width:88px;
  height:34px;
  display:flex;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u25188 .text {
  position:absolute;
  align-self:center;
  padding:5px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25188_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:34px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u25189 {
  border-width:0px;
  position:absolute;
  left:695px;
  top:139px;
  width:177px;
  height:34px;
  display:flex;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u25189 .text {
  position:absolute;
  align-self:center;
  padding:2px 12px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u25189_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:34px;
}
#u25190 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:140px;
  width:85px;
  height:34px;
  display:flex;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u25190 .text {
  position:absolute;
  align-self:center;
  padding:5px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25190_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:34px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u25191 {
  border-width:0px;
  position:absolute;
  left:982px;
  top:139px;
  width:187px;
  height:34px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u25191 .text {
  position:absolute;
  align-self:center;
  padding:2px 12px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u25191_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:34px;
}
#u25192 {
  border-width:0px;
  position:absolute;
  left:918px;
  top:140px;
  width:81px;
  height:34px;
  display:flex;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u25192 .text {
  position:absolute;
  align-self:center;
  padding:5px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25192_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25193 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:199px;
  width:442px;
  height:148px;
}
#u25194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:34px;
}
#u25194 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:34px;
  display:flex;
}
#u25194 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25194_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:34px;
}
#u25195 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:0px;
  width:109px;
  height:34px;
  display:flex;
}
#u25195 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25195_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:34px;
}
#u25196 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:0px;
  width:109px;
  height:34px;
  display:flex;
}
#u25196 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25196_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:34px;
}
#u25197 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:0px;
  width:109px;
  height:34px;
  display:flex;
}
#u25197 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25197_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:29px;
}
#u25198 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:115px;
  height:29px;
  display:flex;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u25198 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25198_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:29px;
}
#u25199 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:34px;
  width:109px;
  height:29px;
  display:flex;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u25199 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25199_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:29px;
}
#u25200 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:34px;
  width:109px;
  height:29px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u25200 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25200_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:29px;
}
#u25201 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:34px;
  width:109px;
  height:29px;
  display:flex;
}
#u25201 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25201_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:29px;
}
#u25202 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:63px;
  width:115px;
  height:29px;
  display:flex;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u25202 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25202_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:29px;
}
#u25203 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:63px;
  width:109px;
  height:29px;
  display:flex;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u25203 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25203_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:29px;
}
#u25204 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:63px;
  width:109px;
  height:29px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u25204 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25204_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:29px;
}
#u25205 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:63px;
  width:109px;
  height:29px;
  display:flex;
}
#u25205 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25205_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:28px;
}
#u25206 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:92px;
  width:115px;
  height:28px;
  display:flex;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u25206 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25206_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:28px;
}
#u25207 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:92px;
  width:109px;
  height:28px;
  display:flex;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u25207 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25207_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:28px;
}
#u25208 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:92px;
  width:109px;
  height:28px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u25208 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25208_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:28px;
}
#u25209 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:92px;
  width:109px;
  height:28px;
  display:flex;
}
#u25209 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25209_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:28px;
}
#u25210 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:115px;
  height:28px;
  display:flex;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u25210 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25210_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:28px;
}
#u25211 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:120px;
  width:109px;
  height:28px;
  display:flex;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u25211 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25211_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:28px;
}
#u25212 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:120px;
  width:109px;
  height:28px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u25212 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25212_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:28px;
}
#u25213 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:120px;
  width:109px;
  height:28px;
  display:flex;
}
#u25213 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25213_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:34px;
}
#u25214 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:72px;
  width:64px;
  height:34px;
  display:flex;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u25214 .text {
  position:absolute;
  align-self:center;
  padding:5px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25214_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:34px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u25215 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:72px;
  width:210px;
  height:34px;
  display:flex;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u25215 .text {
  position:absolute;
  align-self:center;
  padding:2px 12px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u25215_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:34px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u25216 {
  border-width:0px;
  position:absolute;
  left:1004px;
  top:72px;
  width:182px;
  height:34px;
  display:flex;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u25216 .text {
  position:absolute;
  align-self:center;
  padding:2px 12px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u25216_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:34px;
}
#u25217 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:72px;
  width:84px;
  height:34px;
  display:flex;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u25217 .text {
  position:absolute;
  align-self:center;
  padding:5px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25217_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:34px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u25218 {
  border-width:0px;
  position:absolute;
  left:695px;
  top:72px;
  width:182px;
  height:34px;
  display:flex;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u25218 .text {
  position:absolute;
  align-self:center;
  padding:2px 12px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u25218_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
}
#u25219 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:72px;
  width:88px;
  height:34px;
  display:flex;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u25219 .text {
  position:absolute;
  align-self:center;
  padding:5px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25219_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:34px;
}
#u25220 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:103px;
  width:64px;
  height:34px;
  display:flex;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u25220 .text {
  position:absolute;
  align-self:center;
  padding:5px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25220_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:34px;
}
#u25221 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:103px;
  width:64px;
  height:34px;
  display:flex;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u25221 .text {
  position:absolute;
  align-self:center;
  padding:5px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25221_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25222_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:34px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u25222 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:103px;
  width:210px;
  height:34px;
  display:flex;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u25222 .text {
  position:absolute;
  align-self:center;
  padding:2px 12px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u25222_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
