body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1366px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u24475 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24476_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:648px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24476 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:648px;
  display:flex;
}
#u24476 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24476_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24477_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1123px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24477 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:0px;
  width:1123px;
  height:40px;
  display:flex;
}
#u24477 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24477_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u24478 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:13px;
  width:20px;
  height:15px;
  display:flex;
}
#u24478 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24478_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24479_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u24479 {
  border-width:0px;
  position:absolute;
  left:1202px;
  top:12px;
  width:136px;
  height:20px;
  display:flex;
  color:#000000;
}
#u24479 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24479_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:17px;
}
#u24480 {
  border-width:0px;
  position:absolute;
  left:1286px;
  top:12px;
  width:1px;
  height:16px;
  display:flex;
}
#u24480 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24480_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u24481 {
  border-width:0px;
  position:absolute;
  left:1182px;
  top:14px;
  width:14px;
  height:14px;
  display:flex;
}
#u24481 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24481_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24482 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24483_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u24483 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:1px;
  width:336px;
  height:38px;
  display:flex;
  font-family:'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u24483 .text {
  position:absolute;
  align-self:center;
  padding:16px 0px 16px 32px;
  box-sizing:border-box;
  width:100%;
}
#u24483_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24484 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24485 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24486 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24487 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24488 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24489 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24490 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24491 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24492_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:22px;
}
#u24492 {
  border-width:0px;
  position:absolute;
  left:960px;
  top:1045px;
  width:24px;
  height:24px;
  display:flex;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:22px;
}
#u24492 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24492_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24493_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1079px;
  height:414px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24493 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:56px;
  width:1079px;
  height:414px;
  display:flex;
}
#u24493 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24493_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24494_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1082px;
  height:2px;
}
#u24494 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:425px;
  width:1081px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.132719436231214deg);
  -moz-transform:rotate(-0.132719436231214deg);
  -ms-transform:rotate(-0.132719436231214deg);
  transform:rotate(-0.132719436231214deg);
}
#u24494 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24494_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24495 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24496_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:30px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u24496 {
  border-width:0px;
  position:absolute;
  left:1245px;
  top:434px;
  width:61px;
  height:30px;
  display:flex;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u24496 .text {
  position:absolute;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u24496_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24497 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24498_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u24498 {
  border-width:0px;
  position:absolute;
  left:1171px;
  top:434px;
  width:61px;
  height:30px;
  display:flex;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u24498 .text {
  position:absolute;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u24498_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24499 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24500_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:30px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u24500 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:64px;
  width:61px;
  height:30px;
  display:flex;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u24500 .text {
  position:absolute;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u24500_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24501 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24502_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u24502 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:64px;
  width:89px;
  height:30px;
  display:flex;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u24502 .text {
  position:absolute;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u24502_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24503 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:128px;
  width:496px;
  height:125px;
}
#u24504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:32px;
}
#u24504 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:32px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u24504 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24504_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24505_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:32px;
}
#u24505 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:0px;
  width:68px;
  height:32px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u24505 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24505_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:32px;
}
#u24506 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:0px;
  width:105px;
  height:32px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u24506 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24506_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24507_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:32px;
}
#u24507 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:0px;
  width:102px;
  height:32px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u24507 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24507_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:32px;
}
#u24508 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:0px;
  width:93px;
  height:32px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u24508 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24508_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24509_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:32px;
}
#u24509 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:0px;
  width:79px;
  height:32px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u24509 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24509_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24510_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:32px;
}
#u24510 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:32px;
  width:49px;
  height:32px;
  display:flex;
}
#u24510 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24510_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24511_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:32px;
}
#u24511 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:32px;
  width:68px;
  height:32px;
  display:flex;
}
#u24511 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24511_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24512_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:32px;
}
#u24512 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:32px;
  width:105px;
  height:32px;
  display:flex;
}
#u24512 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24512_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24513_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:32px;
}
#u24513 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:32px;
  width:102px;
  height:32px;
  display:flex;
  text-align:left;
}
#u24513 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u24513_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24514_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:32px;
}
#u24514 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:32px;
  width:93px;
  height:32px;
  display:flex;
  text-align:left;
}
#u24514 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u24514_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24515_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:32px;
}
#u24515 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:32px;
  width:79px;
  height:32px;
  display:flex;
  text-align:left;
}
#u24515 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u24515_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24516_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:29px;
}
#u24516 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:49px;
  height:29px;
  display:flex;
}
#u24516 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24516_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24517_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:29px;
}
#u24517 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:64px;
  width:68px;
  height:29px;
  display:flex;
}
#u24517 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24517_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24518_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:29px;
}
#u24518 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:64px;
  width:105px;
  height:29px;
  display:flex;
}
#u24518 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24518_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24519_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:29px;
}
#u24519 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:64px;
  width:102px;
  height:29px;
  display:flex;
  text-align:left;
}
#u24519 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u24519_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24520_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:29px;
}
#u24520 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:64px;
  width:93px;
  height:29px;
  display:flex;
  text-align:left;
}
#u24520 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u24520_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24521_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:29px;
}
#u24521 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:64px;
  width:79px;
  height:29px;
  display:flex;
  text-align:left;
}
#u24521 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u24521_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24522_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:32px;
}
#u24522 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:93px;
  width:49px;
  height:32px;
  display:flex;
}
#u24522 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24522_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24523_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:32px;
}
#u24523 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:93px;
  width:68px;
  height:32px;
  display:flex;
}
#u24523 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24523_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24524_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:32px;
}
#u24524 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:93px;
  width:105px;
  height:32px;
  display:flex;
}
#u24524 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24524_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24525_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:32px;
}
#u24525 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:93px;
  width:102px;
  height:32px;
  display:flex;
  text-align:left;
}
#u24525 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u24525_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24526_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:32px;
}
#u24526 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:93px;
  width:93px;
  height:32px;
  display:flex;
  text-align:left;
}
#u24526 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u24526_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24527_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:32px;
}
#u24527 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:93px;
  width:79px;
  height:32px;
  display:flex;
  text-align:left;
}
#u24527 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u24527_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24528 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:102px;
  width:737px;
  height:414px;
  visibility:hidden;
}
#u24528_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:737px;
  height:414px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24528_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24529_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:737px;
  height:415px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24529 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:737px;
  height:415px;
  display:flex;
}
#u24529 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24529_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24530 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:734px;
  height:364px;
}
#u24530_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:734px;
  height:364px;
  overflow:auto;
}
#u24531_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24531 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:9px;
  width:70px;
  height:30px;
  display:flex;
}
#u24531 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24531_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24532_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24532 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:9px;
  width:70px;
  height:30px;
  display:flex;
}
#u24532 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24532_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24533 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24534_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(16, 142, 233, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Sans Serif Bold', 'Microsoft Sans Serif Normal', 'Microsoft Sans Serif', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u24534 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:4px;
  width:61px;
  height:39px;
  display:flex;
  font-family:'Microsoft Sans Serif Bold', 'Microsoft Sans Serif Normal', 'Microsoft Sans Serif', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u24534 .text {
  position:absolute;
  align-self:center;
  padding:12px 16px 12px 16px;
  box-sizing:border-box;
  width:100%;
}
#u24534_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24535_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u24535 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:15px;
  width:16px;
  height:16px;
  display:flex;
}
#u24535 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24535_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24536_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u24536 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:166px;
  width:16px;
  height:18px;
  display:flex;
}
#u24536 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24536_img.mouseOver {
}
#u24536.mouseOver {
}
#u24536_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24537_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u24537 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:198px;
  width:16px;
  height:18px;
  display:flex;
}
#u24537 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24537_img.mouseOver {
}
#u24537.mouseOver {
}
#u24537_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24538_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u24538 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:230px;
  width:16px;
  height:18px;
  display:flex;
}
#u24538 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24538_img.mouseOver {
}
#u24538.mouseOver {
}
#u24538_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24539 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24540_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
  background:inherit;
  background-color:rgba(217, 0, 27, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u24540 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:64px;
  width:89px;
  height:30px;
  display:flex;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u24540 .text {
  position:absolute;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u24540_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24541 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24542_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(16, 142, 233, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Sans Serif Bold', 'Microsoft Sans Serif Normal', 'Microsoft Sans Serif', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u24542 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:58px;
  width:61px;
  height:39px;
  display:flex;
  font-family:'Microsoft Sans Serif Bold', 'Microsoft Sans Serif Normal', 'Microsoft Sans Serif', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u24542 .text {
  position:absolute;
  align-self:center;
  padding:12px 16px 12px 16px;
  box-sizing:border-box;
  width:100%;
}
#u24542_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24543_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u24543 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:69px;
  width:16px;
  height:16px;
  display:flex;
}
#u24543 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24543_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24544_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1082px;
  height:2px;
}
#u24544 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:104px;
  width:1081px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.212186604806039deg);
  -moz-transform:rotate(0.212186604806039deg);
  -ms-transform:rotate(0.212186604806039deg);
  transform:rotate(0.212186604806039deg);
}
#u24544 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24544_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24545 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24546_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:155px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24546 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:130px;
  width:376px;
  height:155px;
  display:flex;
}
#u24546 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24546_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24547_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u24547 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:174px;
  width:375px;
  height:1px;
  display:flex;
}
#u24547 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24547_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24548_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u24548 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:141px;
  width:73px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u24548 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24548_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24549_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u24549 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:236px;
  width:375px;
  height:1px;
  display:flex;
}
#u24549 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24549_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24550 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24551_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:30px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u24551 {
  border-width:0px;
  position:absolute;
  left:676px;
  top:247px;
  width:61px;
  height:30px;
  display:flex;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u24551 .text {
  position:absolute;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u24551_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24552 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24553_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u24553 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:247px;
  width:61px;
  height:30px;
  display:flex;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u24553 .text {
  position:absolute;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u24553_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24554_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:34px;
}
#u24554 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:186px;
  width:84px;
  height:34px;
  display:flex;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u24554 .text {
  position:absolute;
  align-self:center;
  padding:5px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24554_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24555_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:34px;
  padding:3px 2px 3px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u24555_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:34px;
  padding:3px 2px 3px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u24555_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24555 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:186px;
  width:210px;
  height:34px;
  display:flex;
}
#u24555 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24555_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:34px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24555.disabled {
}
.u24555_input_option {
}
#u24556 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24557_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:35px;
}
#u24557 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:170px;
  width:14px;
  height:15px;
  display:flex;
  font-family:'Microsoft YaHei', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:35px;
}
#u24557 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24557_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24558_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:9px;
}
#u24558 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:173px;
  width:10px;
  height:9px;
  display:flex;
  font-family:'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  line-height:35px;
}
#u24558 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24558_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24559_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:35px;
}
#u24559 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:200px;
  width:14px;
  height:14px;
  display:flex;
  font-family:'Microsoft YaHei', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:35px;
}
#u24559 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24559_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24560 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24561 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24562_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24562 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:141px;
  width:14px;
  height:14px;
  display:flex;
}
#u24562 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24562_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24563_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24563 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:144px;
  width:8px;
  height:8px;
  display:flex;
}
#u24563 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24563_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24564_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:35px;
}
#u24564 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:230px;
  width:14px;
  height:14px;
  display:flex;
  font-family:'Microsoft YaHei', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:35px;
}
#u24564 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24564_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24565 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24566_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:322px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24566 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:130px;
  width:376px;
  height:322px;
  display:flex;
}
#u24566 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24566_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24567_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u24567 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:174px;
  width:375px;
  height:1px;
  display:flex;
}
#u24567 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24567_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24568_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u24568 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:141px;
  width:73px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u24568 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24568_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24569_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u24569 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:394px;
  width:375px;
  height:1px;
  display:flex;
}
#u24569 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24569_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24570 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24571_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:30px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u24571 {
  border-width:0px;
  position:absolute;
  left:676px;
  top:414px;
  width:61px;
  height:30px;
  display:flex;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u24571 .text {
  position:absolute;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u24571_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24572 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24573_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u24573 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:414px;
  width:61px;
  height:30px;
  display:flex;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u24573 .text {
  position:absolute;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u24573_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24574_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:34px;
  background:inherit;
  background-color:rgba(235, 235, 235, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u24574 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:194px;
  width:209px;
  height:34px;
  display:flex;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u24574 .text {
  position:absolute;
  align-self:center;
  padding:2px 12px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u24574_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24575_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:34px;
}
#u24575 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:194px;
  width:84px;
  height:34px;
  display:flex;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u24575 .text {
  position:absolute;
  align-self:center;
  padding:5px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24575_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24576_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:34px;
  background:inherit;
  background-color:rgba(235, 235, 235, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u24576 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:252px;
  width:209px;
  height:34px;
  display:flex;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u24576 .text {
  position:absolute;
  align-self:center;
  padding:2px 12px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u24576_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24577_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:34px;
}
#u24577 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:252px;
  width:84px;
  height:34px;
  display:flex;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u24577 .text {
  position:absolute;
  align-self:center;
  padding:5px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24577_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24578_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:34px;
  background:inherit;
  background-color:rgba(235, 235, 235, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u24578 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:310px;
  width:209px;
  height:34px;
  display:flex;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u24578 .text {
  position:absolute;
  align-self:center;
  padding:2px 12px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u24578_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24579_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:34px;
}
#u24579 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:310px;
  width:84px;
  height:34px;
  display:flex;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u24579 .text {
  position:absolute;
  align-self:center;
  padding:5px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24579_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24580 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:252px;
  height:608px;
}
#u24580_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:608px;
  overflow:scroll;
}
#u24581_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 40, 77, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24581 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:40px;
  display:flex;
}
#u24581 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24581_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:33px;
}
#u24582 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:4px;
  width:181px;
  height:33px;
  display:flex;
}
#u24582 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24582_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
