body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1366px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u25347 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25348_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:648px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25348 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:1366px;
  height:648px;
  display:flex;
}
#u25348 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25348_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25349_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1123px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25349 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:0px;
  width:1123px;
  height:40px;
  display:flex;
}
#u25349 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25349_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25350_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u25350 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:13px;
  width:20px;
  height:15px;
  display:flex;
}
#u25350 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25350_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25351_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u25351 {
  border-width:0px;
  position:absolute;
  left:1202px;
  top:12px;
  width:136px;
  height:20px;
  display:flex;
  color:#000000;
}
#u25351 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25351_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25352_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:17px;
}
#u25352 {
  border-width:0px;
  position:absolute;
  left:1286px;
  top:12px;
  width:1px;
  height:16px;
  display:flex;
}
#u25352 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25352_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25353_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u25353 {
  border-width:0px;
  position:absolute;
  left:1182px;
  top:14px;
  width:14px;
  height:14px;
  display:flex;
}
#u25353 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25353_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25354 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25355_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u25355 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:1px;
  width:425px;
  height:38px;
  display:flex;
  font-family:'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u25355 .text {
  position:absolute;
  align-self:center;
  padding:16px 0px 16px 32px;
  box-sizing:border-box;
  width:100%;
}
#u25355_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25356 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25357 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25358 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25359 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25360 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25361 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25362 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25363 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25364 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25365 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:252px;
  height:644px;
}
#u25365_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:644px;
  overflow:scroll;
}
#u25366_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:44px;
  background:inherit;
  background-color:rgba(0, 40, 77, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25366 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:44px;
  display:flex;
}
#u25366 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25366_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25367_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
}
#u25367 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:4px;
  width:181px;
  height:36px;
  display:flex;
}
#u25367 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25367_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25368 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25369_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:937px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u25369 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:448px;
  width:937px;
  height:66px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u25369 .text {
  position:absolute;
  align-self:center;
  padding:16px 24px 16px 24px;
  box-sizing:border-box;
  width:100%;
}
#u25369_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25370_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:937px;
  height:392px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 1px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow:0px 1px 4px rgba(0, 0, 0, 0.2);
  font-family:'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u25370 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:56px;
  width:937px;
  height:392px;
  display:flex;
  font-family:'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u25370 .text {
  position:absolute;
  align-self:center;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u25370_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25371 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:163px;
  width:442px;
  height:148px;
}
#u25372_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:34px;
}
#u25372 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:34px;
  display:flex;
}
#u25372 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25372_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25373_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:34px;
}
#u25373 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:0px;
  width:109px;
  height:34px;
  display:flex;
}
#u25373 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25373_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:34px;
}
#u25374 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:0px;
  width:109px;
  height:34px;
  display:flex;
}
#u25374 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25374_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:34px;
}
#u25375 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:0px;
  width:109px;
  height:34px;
  display:flex;
}
#u25375 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25375_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:29px;
}
#u25376 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:115px;
  height:29px;
  display:flex;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u25376 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25376_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:29px;
}
#u25377 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:34px;
  width:109px;
  height:29px;
  display:flex;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u25377 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25377_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:29px;
}
#u25378 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:34px;
  width:109px;
  height:29px;
  display:flex;
  font-family:'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u25378 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25378_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:29px;
}
#u25379 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:34px;
  width:109px;
  height:29px;
  display:flex;
}
#u25379 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25379_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:29px;
}
#u25380 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:63px;
  width:115px;
  height:29px;
  display:flex;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u25380 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25380_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:29px;
}
#u25381 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:63px;
  width:109px;
  height:29px;
  display:flex;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u25381 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25381_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:29px;
}
#u25382 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:63px;
  width:109px;
  height:29px;
  display:flex;
  font-family:'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u25382 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25382_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:29px;
}
#u25383 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:63px;
  width:109px;
  height:29px;
  display:flex;
}
#u25383 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25383_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:28px;
}
#u25384 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:92px;
  width:115px;
  height:28px;
  display:flex;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u25384 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25384_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:28px;
}
#u25385 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:92px;
  width:109px;
  height:28px;
  display:flex;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u25385 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25385_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:28px;
}
#u25386 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:92px;
  width:109px;
  height:28px;
  display:flex;
  font-family:'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u25386 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25386_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:28px;
}
#u25387 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:92px;
  width:109px;
  height:28px;
  display:flex;
}
#u25387 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25387_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:28px;
}
#u25388 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:115px;
  height:28px;
  display:flex;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u25388 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25388_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:28px;
}
#u25389 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:120px;
  width:109px;
  height:28px;
  display:flex;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u25389 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25389_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25390_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:28px;
}
#u25390 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:120px;
  width:109px;
  height:28px;
  display:flex;
  font-family:'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u25390 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25390_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25391_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:28px;
}
#u25391 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:120px;
  width:109px;
  height:28px;
  display:flex;
}
#u25391 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25391_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25392 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25393_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:37px;
  background:inherit;
  background-color:rgba(217, 0, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:21px;
}
#u25393 {
  border-width:0px;
  position:absolute;
  left:1101px;
  top:463px;
  width:76px;
  height:37px;
  display:flex;
  font-family:'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:21px;
}
#u25393 .text {
  position:absolute;
  align-self:center;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u25393_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25394 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25395_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:37px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u25395 {
  border-width:0px;
  position:absolute;
  left:1006px;
  top:463px;
  width:76px;
  height:37px;
  display:flex;
  font-family:'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u25395 .text {
  position:absolute;
  align-self:center;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u25395_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:34px;
}
#u25396 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:74px;
  width:64px;
  height:34px;
  display:flex;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u25396 .text {
  position:absolute;
  align-self:center;
  padding:5px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25396_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25397_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:34px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u25397 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:72px;
  width:210px;
  height:34px;
  display:flex;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u25397 .text {
  position:absolute;
  align-self:center;
  padding:2px 12px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u25397_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25398_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:34px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u25398 {
  border-width:0px;
  position:absolute;
  left:1004px;
  top:72px;
  width:182px;
  height:34px;
  display:flex;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u25398 .text {
  position:absolute;
  align-self:center;
  padding:2px 12px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u25398_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:34px;
}
#u25399 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:72px;
  width:84px;
  height:34px;
  display:flex;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u25399 .text {
  position:absolute;
  align-self:center;
  padding:5px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25399_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25400_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:34px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u25400 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:72px;
  width:182px;
  height:34px;
  display:flex;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u25400 .text {
  position:absolute;
  align-self:center;
  padding:2px 12px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u25400_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25401_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
}
#u25401 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:72px;
  width:88px;
  height:34px;
  display:flex;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u25401 .text {
  position:absolute;
  align-self:center;
  padding:5px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25401_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:34px;
}
#u25402 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:104px;
  width:64px;
  height:34px;
  display:flex;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u25402 .text {
  position:absolute;
  align-self:center;
  padding:5px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25402_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:34px;
}
#u25403 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:106px;
  width:64px;
  height:34px;
  display:flex;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u25403 .text {
  position:absolute;
  align-self:center;
  padding:5px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25403_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25404_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:34px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u25404 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:102px;
  width:210px;
  height:34px;
  display:flex;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u25404 .text {
  position:absolute;
  align-self:center;
  padding:2px 12px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u25404_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
